<body class="sidebar-mini" style="height: auto;">


    <div class="wrapper">

        <app-nav-component></app-nav-component>

        <div *ngIf="tokenService.getUser().usuario.nivel == 'PROFISSIONAL'">
            <app-menu-component></app-menu-component>
        </div>

        <div *ngIf="tokenService.getUser().usuario.nivel == 'PACIENTE'">
            <app-menu-paciente></app-menu-paciente>
        </div>


        <div class="content-wrapper">

            <div class="content">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                    <p-toast></p-toast>
                    <p-confirmDialog #cd header="Atenção!" position="top" icon="pi pi-exclamation-triangle"
                        message="Você deseja prosseguir com essa ação?">
                        <p-footer>
                            <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
                            <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
                        </p-footer>
                    </p-confirmDialog>

                </div>
            </div>
        </div>
        <app-footer-component></app-footer-component>
    </div>

</body>